NODE_ENV=development
DB_NAME=examplename
DB_PASSWORD=password
DB_USER=name
DB_PORT=5432
APP_NAME=current_ng
PORT=9999
REDIS_PORT=6379
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}"